body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  display: block;
  color: transparent;
  text-decoration: none;
  border: 2px solid black;
  background-color: black;
  font-size: 45px;
  font-family: sans-serif;
  padding: 40px 80px;
  position: relative;
  overflow: hidden;
}

a::before {
  content: "Hover Me";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: yellow;
  color: black;
  width: 100%;
  height: 100%;
  transform-origin: top right;
  transform: translate(0%, 0%);
  transition: transform 0.5s;
}

a::after {
  content: "Hover Me";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: yellow;
  color: black;
  width: 100%;
  height: 100%;
  transform-origin: bottom left;
  transform: translate(-100%, 100%);
  transition: transform 0.5s;
}

a:hover::before {
  transform: translate(100%, -100%);
}

a:hover::after {
  transform: translate(0%, 0%);
}
