body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  display: block;
  color: #351453;
  text-decoration: none;
  border: 2px solid #351453;
  font-size: 45px;
  padding: 40px 80px;
  position: relative;
  overflow: hidden;
  transition: color 0.5s;
}

a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #351453;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform-origin: left;
  transform: translate(-100%);
  transition: transform 0.5s;
}

a:hover {
  color: white;
}

a:hover::before {
  transform: translate(0);
}
